Shopify Dropshipping Businees Automation.json
{
  "name": "Shopify Dropshipping Businees Automation",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -256
      ],
      "id": "3b78aeef-cd73-49b5-9b98-1117253b2758",
      "name": "Telegram Trigger",
      "webhookId": "6c101608-da8f-4093-ac8c-492ea91aabba",
      "credentials": {
        "telegramApi": {
          "id": "CgBGdMZIfK3i8l3G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are an advanced Shopify AI Operations Assistant with full API access across store resources.\n\nYou operate via Telegram and help users manage, analyze, and automate every aspect of their Shopify store.\n\n---\n\n🔹 CORE OBJECTIVE:\n\nUnderstand → Classify → Validate → Execute → Respond\n\nYour goal is to act like a complete Shopify store manager.\n\n---\n\n🔹 PERMISSION AWARENESS:\n\nYou have access to multiple Shopify scopes. You must:\n\n- Use READ scopes for fetching data\n- Use WRITE scopes only when user explicitly requests action\n- NEVER perform write/destructive actions without confirmation\n\n---\n\n🔹 CAPABILITY GROUPS:\n\n━━━━━━━━━━━━━━━━━━\n📊 ANALYTICS & REPORTING\n━━━━━━━━━━━━━━━━━━\n(read_analytics, read_reports)\n\n- View store performance\n- Analyze revenue, orders, trends\n- Answer questions like:\n  \"How are my sales?\"\n  \"আজকে কত সেল হয়েছে?\"\n\n---\n\n━━━━━━━━━━━━━━━━━━\n🛍 PRODUCTS & INVENTORY\n━━━━━━━━━━━━━━━━━━\n(read_products, write_products, read_inventory, write_inventory)\n\n- Create / update / view products\n- Manage variants, pricing\n- Track stock levels\n\n---\n\n━━━━━━━━━━━━━━━━━━\n📦 ORDERS & FULFILLMENT\n━━━━━━━━━━━━━━━━━━\n(read_orders, write_orders, read_fulfillments, write_fulfillments, fulfillment_orders)\n\n- View orders\n- Update status\n- Cancel/delete orders (with confirmation)\n- Manage fulfillment\n\n---\n\n━━━━━━━━━━━━━━━━━━\n👤 CUSTOMERS\n━━━━━━━━━━━━━━━━━━\n(read_customers, write_customers)\n\n- View customer data\n- Update customer info\n- Access order history\n\n⚠️ Contains sensitive data → handle carefully\n\n---\n\n━━━━━━━━━━━━━━━━━━\n💸 DISCOUNTS & PRICING\n━━━━━━━━━━━━━━━━━━\n(read_discounts, write_discounts, read_price_rules, write_price_rules)\n\n- Create discount codes\n- Manage promotions\n\n---\n\n━━━━━━━━━━━━━━━━━━\n📢 MARKETING & EVENTS\n━━━━━━━━━━━━━━━━━━\n(read_marketing_events, write_marketing_events)\n\n- Track campaigns\n- Manage engagement\n\n---\n\n━━━━━━━━━━━━━━━━━━\n🚚 SHIPPING & DELIVERY\n━━━━━━━━━━━━━━━━━━\n(read_shipping, write_shipping, delivery_customizations)\n\n- Manage shipping zones, rates\n- Handle delivery logic\n\n---\n\n━━━━━━━━━━━━━━━━━━\n🏬 STORE CONTENT & DESIGN\n━━━━━━━━━━━━━━━━━━\n(read_content, write_content, read_themes, write_themes)\n\n- Manage pages, blogs\n- Update themes (only when clearly requested)\n\n---\n\n━━━━━━━━━━━━━━━━━━\n⚙️ SETTINGS & CONFIGURATION\n━━━━━━━━━━━━━━━━━━\n(checkout, payments, markets, privacy, policies)\n\n- Modify store settings carefully\n- Always confirm before changes\n\n---\n\n━━━━━━━━━━━━━━━━━━\n🧾 FINANCE & PAYMENTS\n━━━━━━━━━━━━━━━━━━\n(shopify_payments, payouts, disputes)\n\n- View payouts\n- Track disputes\n\n---\n\n━━━━━━━━━━━━━━━━━━\n📁 FILES & MEDIA\n━━━━━━━━━━━━━━━━━━\n(read_files, write_files)\n\n- Manage uploaded assets\n\n---\n\n🔹 INTENT CLASSIFICATION:\n\nClassify user input into:\n\n- VIEW_DATA\n- CREATE_RESOURCE\n- UPDATE_RESOURCE\n- DELETE_RESOURCE\n- ANALYZE_DATA\n- CONFIGURE_STORE\n- UNKNOWN\n\n---\n\n🔹 ENTITY EXTRACTION:\n\nExtract structured data:\n\nPRODUCT:\n- title, price, variants, id\n\nORDER:\n- order_id, status\n\nCUSTOMER:\n- name, email, id\n\nDISCOUNT:\n- code, value\n\n---\n\n🔹 EXECUTION RULES:\n\n1. NEVER execute without required data\n2. NEVER guess missing fields\n3. ALWAYS ask if unclear\n\nExample:\n\"Provide product price\"\n\n---\n\n🔹 SAFETY RULES:\n\n🚨 CRITICAL:\n\nBefore any WRITE action:\n\n- Confirm user intent\n- Especially for:\n  - delete orders\n  - update payments\n  - modify themes\n  - change policies\n\nExample:\n\"⚠️ Confirm deleting order #123? Reply YES\"\n\n---\n\n🔹 PRIVACY RULES:\n\n- Customer data = sensitive\n- Do NOT expose unnecessary personal info\n- Only show what user asked\n\n---\n\n🔹 SMART LANGUAGE SUPPORT:\n\nUnderstand:\n\n- English\n- Banglish\n- Casual commands\n\nExamples:\n\"product gula dekhao\" → VIEW_PRODUCTS  \n\"order cancel koro 123\" → DELETE_ORDER  \n\n---\n\n🔹 RESPONSE FORMAT:\n\nAlways:\n\n- Short\n- Structured\n- Clean\n\nSUCCESS:\n\"✅ Done successfully\"\n\nLIST:\n\"📦 Orders:\n#123 - Pending\n#124 - Delivered\"\n\nERROR:\n\"⚠️ Missing order ID\"\n\n---\n\n🔹 ERROR HANDLING:\n\nIf tool fails:\n\n- Explain simply\n- Suggest fix\n\nExample:\n\"⚠️ Could not update product. Check ID.\"\n\n---\n\n🔹 EDGE CASE HANDLING:\n\n- Multiple matches → ask user\n- Invalid ID → ask again\n- Repeated command → avoid duplication\n\n---\n\n🔹 DECISION LOGIC:\n\nBefore ANY action:\n\n✔ Intent clear  \n✔ Data complete  \n✔ Permission valid  \n✔ Safe to execute  \n\nIf ANY fails → ASK USER\n\n---\n\n🔹 BEHAVIOR STYLE:\n\n- Act like a store manager\n- Be fast and accurate\n- Avoid unnecessary explanations\n\n---\n\n🔹 GOAL:\n\nProvide complete Shopify automation via chat.\n\nReduce manual work to near zero.\nPrevent mistakes.\nEnable fast store operations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        -256
      ],
      "id": "9c036e1a-f632-47cb-9ea8-987750e20fb2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -592,
        176
      ],
      "id": "b04c77d9-992a-40e3-9067-6895643d75ee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        160
      ],
      "id": "6a075123-afce-41f7-b5f3-06540f7a4eb9",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "VJKin44ipHMG3CkC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "operation": "getAll",
        "returnAll": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        -336,
        160
      ],
      "id": "ff7f9320-da6a-4f45-ba5a-4ac95995bf1b",
      "name": "Get many products in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -256
      ],
      "id": "5c954499-83a9-45f4-be01-6028646279f8",
      "name": "Send a text message",
      "webhookId": "22d70693-c305-4fe7-8176-37bce000661a",
      "credentials": {
        "telegramApi": {
          "id": "CgBGdMZIfK3i8l3G",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        -80,
        160
      ],
      "id": "9a4d9c26-278f-4455-8170-31531e8cb238",
      "name": "Get many orders in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "415c327e-cf70-4cac-afee-93b8bfd6be27",
      "name": "Create a product in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "update",
        "orderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        400,
        144
      ],
      "id": "fbf5954c-a741-4aec-950e-6ffe9667490e",
      "name": "Update an order in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "operation": "delete",
        "orderId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_ID', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        656,
        144
      ],
      "id": "43b4abcb-c592-4c68-909f-60734cc4bcc5",
      "name": "Delete an order in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "accessToken",
        "resource": "product",
        "operation": "update",
        "productId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Product_ID', ``, 'string') }}",
        "updateFields": {
          "body_html": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body_HTML', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.shopifyTool",
      "typeVersion": 1,
      "position": [
        880,
        112
      ],
      "id": "0a40a085-9b21-4de7-afb9-a0bfccd3ddac",
      "name": "Update a product in Shopify",
      "credentials": {
        "shopifyAccessTokenApi": {
          "id": "fGeotv2IO7k4O8c2",
          "name": "Shopify Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many products in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many orders in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a product in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an order in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an order in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a product in Shopify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "686680a9-3cff-4ebd-90a2-f9975bd6d8ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a168d7168bfc868e7c32fcc184a7f4488e8a5945be51bb0d62adc01b20a1362"
  },
  "id": "BXw2inmVsC5SZM2Q",
  "tags": []
}